body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #828282;
    text-align: center;

    overflow-x: hidden;

}

#main {
    margin: 64px auto;
    width: 626px;

}

#main img {
    margin-bottom: 32px;
}

#main h1 {
    text-align: center;

    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;

    color: #3F3D56;

    margin-bottom: 16px;

}

#main h1 span {
    font-weight: 700;
    color: #EE24FF;
}

#main p {
    font-size: 15px;
    line-height: 22px;

    margin-bottom: 32px;
}

#main p span {
    color: #3F3D56;
    font-weight: 700;
}

#main p+p {
    margin-bottom: 0;
}

.line {
    border: solid 1px #ECEFF2;
    width: 391px;

    margin: 0 auto 16px;
}

#footer a {
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: #3F3D56;

    text-decoration: none;
    text-align: center;

}

#footer a+a {
    margin-left: 42px;
    margin-bottom: 32px;
}

#wave {
    position: absolute;
    bottom: -30px;
    left: 0px;

    width: 100vw;

}